.container{
    height: 100px;
    width: 99.8% ;
    border: solid 1px;
    background-color: #24292e;
    margin-top: 20px;
    
}

.tag{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

